<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="PODCAST" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/begin.css">
        <title>PODCAST</title>
    </head>

    <body>
        <div class="container">   
            <div class="logo">
                <img src="img/logo.png" class="logo">
            </div>

            <div class="row">
                <div class="col1">
                    <h1>PODCAST</h1>
                    <h2>life</h2>
                    <h2>Science</h2>
                    <h2>Culture</h2>
                    <p>'A quick and easy way to listen anytime, anywhere most favorite PODCAST '</p>
                    <button class="btn1" type="button" onclick="location.href='/login'"> Log in </button>
                    <button class="btn2" type="button" onclick="location.href='/signup'"> Sign up </button>
                </div>

                <div class="col2">
                    <div class="card1"> </div>
                    <div class="card2"> </div>
                    <div class="card3"> </div>
                    <div class="card4"> </div>
                    <div class="card5"> </div>
                    <div class="card6"> </div>
                </div>
            </div>
        </div>
    </body>