<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/img/Download_Vector_illustrations_concept_design_podcast_channel__for_free-removebg-preview.png">
</head>
<body>
    <div class="main-wrapper">
        <!-- {{!----------------------------------------------------Navbar---------------------------------------------------------}} -->
        <div class="menu-section">
            <div class="logo">
                <a href="/home"><img src="/img/Download_Vector_illustrations_concept_design_podcast_channel__for_free-removebg-preview.png" alt="LOGO"></a>
            </div>
            <div class="menu-items">
                <div class="menu-item">
                    <a href=""><i class="bx bx-user"></i></a>
                </div>
                <div class="menu-item">
                    <a href="#"><i class="bx bx-home"></i></a>
                </div>
                <div class="menu-item">
                    <a href=""><i class="bx bx-chart"></i></a>
                </div>
            </div>
        </div>
        <!-- {{!----------------------------------------------------Mid-Content---------------------------------------------------------}} -->
        <div class="upperbar">
            
        </div>
        <!-- {{!----------------------------------------------------Mid-Content---------------------------------------------------------}} -->
        <div class="mid-section">
            <div class="upper-nav">
                <div class="search-bar">
                    <input type="text" placeholder="Search" class="search">
                    <i class="bx bx-search"></i>
                </div>
            </div>
            <div class="paragraph">
                <p>DISCOVER PODCASTS</p>
            </div>
            <div class="trending">
                <div class="week-trend">
                    <p>Trending this week</p>
                    <div class="week-trend-img">
                        <img src="/img/photo_2022-05-06_16-15-47.jpg" alt="">    
                    </div>
                </div>
                <div class="trending-podcasts">

                </div>
            </div>
        </div>
        <!-- {{!----------------------------------------------------Left-Content---------------------------------------------------------}} -->
        <div class="left-content">
            <div class="profile-section">
                <div class="profile-img">
                    <img src="/img/photo_2022-05-06_16-15-47.jpg" alt="">
                </div>
                <div class="dropdown">
                    <div class="username">
                        <a href="" class="btn-name">
                            
                        <i class="bx bx-chevron-down"></i></a>
                    </div>
                    <div class="dropdown-content">
                        <a href="login" class="logout">Log out</a>
                    </div>
                </div>
            </div>
            <div class="play-section">

            </div>
            <div class="recently-section">
                
            </div>
        </div>
    </div>
</body>
</html>