<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/img/Download_Vector_illustrations_concept_design_podcast_channel__for_free-removebg-preview.png">
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <img src="img/Download_Vector_illustrations_concept_design_podcast_channel__for_free-removebg-preview.png" alt="LOGO">
        </div>
        <div class="list">
            <div class="list-item">
                <a href=""><i class="bx bx-user"></i></a>
            </div>
            <div class="list-item">
                <a href="#"><i class="bx bx-home"></i></a>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="search-bar">
            <input type="text" placeholder="Search" class="search">
            <i class="bx bx-search"></i>
        </div>
        <div class="profile-section">
            <div class="profile-img">
                <img src="/img/photo_2022-05-06_16-15-47.jpg" alt="">
            </div>
            <div class="dropdown">
                <div class="username">
                    <a href="" class="btn-name">
                        ,vlf,l,dlc,ld,ld,
                    <i class="bx bx-chevron-down"></i></a>
                </div>
                <div class="dropdown-content">
                    <a href="login" class="logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="paragraph">
        <p>DISCOVER PODCASTS</p>
    </div>
    <div class="trending">
        <div class="week-trend">
            <p>Trending this week</p>
            <div class="week-trend-img">
                <img src="/img/photo_2022-05-06_16-15-47.jpg" alt="">    
            </div>
        </div>
        <div class="trending-podcasts">
            <div class="title-trend">
                <p>Trending podcasts</p>
                <div class="arrows">
                    <button class="left-arrow"><i class="bx bx-left-arrow"></i></button>
                    <button class="right-arrow"><i class="bx bx-right-arrow"></i></button>
                </div>
            </div>
            <div class="podcast-cards">
                <div class="podcast-card">
                    <div class="podcast-img">
                        <img src="img/photo_2022-05-06_16-15-47.jpg" alt="">
                        <div class="icons">
                            <i class="bx bxs-heart"></i>
                            <i class="bx bx-play-circle"></i>
                        </div>
                    </div>
                    <div class="podcast-name">
                        <p>Podcast Title</p>
                    </div>
                    <div class="podcaster-name">
                        <p>Podcaster name</p>
                    </div>
                </div>
                <div class="podcast-card">
                    <div class="podcast-img">
                        <img src="img/photo_2022-05-06_16-15-47.jpg" alt="">
                        <div class="icons">
                            <i class="bx bxs-heart"></i>
                            <i class="bx bx-play-circle"></i>
                        </div>
                    </div>
                    <div class="podcast-name">
                        <p>Podcast Title</p>
                    </div>
                    <div class="podcaster-name">
                        <p>Podcaster name</p>
                    </div>
                </div>
                <div class="podcast-card">
                    <div class="podcast-img">
                        <img src="img/photo_2022-05-06_16-15-47.jpg" alt="">
                        <div class="icons">
                            <i class="bx bxs-heart"></i>
                            <i class="bx bx-play-circle"></i>
                        </div>
                    </div>
                    <div class="podcast-name">
                        <p>Podcast Title</p>
                    </div>
                    <div class="podcaster-name">
                        <p>Podcaster name</p>
                    </div>
                </div>
                <div class="podcast-card">
                    <div class="podcast-img">
                        <img src="img/photo_2022-05-06_16-15-47.jpg" alt="">
                        <div class="icons">
                            <i class="bx bxs-heart"></i>
                            <i class="bx bx-play-circle"></i>
                        </div>
                    </div>
                    <div class="podcast-name">
                        <p>Podcast Title</p>
                    </div>
                    <div class="podcaster-name">
                        <p>Podcaster name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="top-bar">
              <span>Now Playing</span>
            </div>
            <div class="img-area">
              <img src="img/photo_2022-05-06_16-15-47.jpg" alt="img" />
            </div>
            <div class="song-details">
              <p class="name">kjl</p>
              <p class="artist">mklmlk;/</p>
            </div>
            <div class="progress-area">
              <div class="progress-bar">
                <audio id="main-audio" src=""></audio>
              </div>
              <div class="song-timer">
                <span class="current-time">00:00</span>
                <span class="max-duration">00:00</span>
              </div>
            </div>
            <div class="controls">
              <i id="prev" class="bx bx-left-arrow"></i>
              <div class="play-pause">
                <i class="bx bx-play-circle"></i>
              </div>
              <i id="next" class="bx  bx-right-arrow"></i>
            </div>
          </div>
    </div> 
<script>
    const  podcastContainers = [...document.querySelectorAll('.podcast-cards')];
    const nextBtn = [...document.querySelectorAll('.right-arrow')];
    const prevBtn = [...document.querySelectorAll('.left-arrow')];
    podcastContainers.forEach((item, i) =>{
        let containerDimension = item.getBoundingClientRect();
        let containerWidth = containerDimension.width;

        nextBtn[i].addEventListener('click', ()=>{
            item.scrollLeft += containerWidth;
        });

        prevBtn[i].addEventListener('click', ()=> {
            item.scrollLeft -= containerWidth;
        });

    })
</script>
</body>
</html>