<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/img/Download_Vector_illustrations_concept_design_podcast_channel__for_free-removebg-preview.png">
</head>
<body>
 <div class="wrapper">
<!-- {{!----------------------------- Form box -----------------------------------}} -->
    <div class="form-box">
        <!-- {{!------------------- login form --------------------------}} -->
        <div class="login-container" id="login">
            <form action="/login" method="post">
                <div class="top">
                    <header>Login</header>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" id="username" name="email" placeholder="Email" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" id="passin" name="password" placeholder="Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <!-- {{#if message}}
                    <h4 style="color: darkred;">{{message}}</h4>
                {{/if}}        -->
                <div class="input-box">
                    <input type="submit" class="submit" value="SignIn">
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="login-check">
                        <label for="login-check">Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Forgot password?</a></label>
                    </div>
                </div>
                <div class="three">
                    <span>Don't have an account? <a href="/signup">Sign Up</a></span>
                </div>
            </form>
        </div>
    </div>
</div>   
</body>
</html>